.solo {
  &__grid {
    margin: 0 auto;
    display: grid;
    height: 40rem;

    @media screen and (max-width: 500px) {
      height: 35rem;
    }

    @media screen and (max-width: 350px) {
      height: 30rem;
    }

    &--4 {
      @extend .solo__grid;
      max-width: 36rem;
      width: 100%;
      gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
    }

    &--6 {
      @extend .solo__grid;
      gap: 1rem;
      max-width: 42rem;
      width: 100%;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__footer {
    margin: 0 auto;

    max-width: 40rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
