.solo {
  &__grid {
    margin: 0 auto;
    display: grid;

    &--4 {
      @extend .solo__grid;
      width: 35%;
      gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
    }

    &--6 {
      @extend .solo__grid;
      gap: 1rem;
      width: 39%;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__footer {
    margin: 0 auto;
    width: 35%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }
}
