$transition-time: 0.25s;

.button {
  border-radius: var(--border-radius-primary);
  flex: 1;
  cursor: pointer;
  border: none;
  font-family: inherit;
  color: var(--color-primary-white);
  font-weight: 700;
  font-size: 2rem;
  padding: 0.8rem 3rem;

  @media screen and (max-width: 410px) {
    padding: 0.7rem 2rem;
  }

  &--dark {
    @extend .button;
    background-color: var(--color-quinary-blue);
  }

  &--light {
    @extend .button;
    background-color: var(--color-secondary-blue);
  }

  &--orange {
    @extend .button;
    background-color: var(--color-primary-orange);
    transition: background-color, $transition-time;
    &:hover {
      background-color: var(--color-primary-orange-hover);
    }
  }

  &--gray {
    @extend .button;
    background-color: var(--color-primary-gray);
    color: var(--color-quaternary-blue);
    transition: background-color, $transition-time;
    transition: color, $transition-time;
    &:hover {
      background-color: var(--color-primary-blue);
      color: var(--color-primary-white);
    }
  }

  &--selected {
    @extend .button;
    background-color: var(--color-quinary-blue);
    transition: background-color, $transition-time;
  }
  &--idle {
    @extend .button;
    background-color: var(--color-secondary-blue);
    transition: background-color, $transition-time;
    &:hover {
      background-color: var(--color-primary-blue);
    }
  }
}
