.footer-item {
  flex: 1;
  background-color: var(--color-primary-gray);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__description {
    color: var(--color-tertiary-blue);
    font-size: 1.8rem;
  }
  &__value {
    color: var(--color-quaternary-blue);
    font-size: 2.5rem;
  }
}
