.modal {
  text-align: center;
  &__message {
    font-size: 4.5rem;
    color: var(--color-quinary-blue);
    margin-bottom: 1.5rem;

    @media screen and (max-width: 500px) {
      font-size: 3.5rem;
    }
  }
  &__description {
    margin-bottom: 3.5rem;
    font-size: 1.65rem;
    color: var(--color-tertiary-blue);
  }
  &__buttons {
    display: flex;
    gap: 1.5rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}
