$transition-time: 0.5s;

.multiplayer-footer-item {
  flex: 1;

  &--4 {
    @extend .multiplayer-footer-item;

    &__item {
      background-color: var(--color-primary-gray);
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      transition: background-color $transition-time;

      @media screen and (max-width: 570px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media screen and (max-width: 425px) {
        align-items: center;
      }

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--color-primary-gray);
        transform: translateY(0);
        clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
        transition: transform $transition-time,
          background-color $transition-time;
      }

      &--current {
        @extend .multiplayer-footer-item--4__item;
        background-color: var(--color-primary-orange);

        h5,
        h6 {
          color: var(--color-primary-white);
        }

        &::before {
          content: '';
          display: inline-block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background-color: var(--color-primary-orange);
          transform: translateY(-15px);
          clip-path: polygon(50% 0%, 30% 100%, 70% 100%);

          @media screen and (max-width: 570px) {
            transform: translateY(-13px);
            clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
          }

          @media screen and (max-width: 425px) {
            transform: translateY(-10px);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          }
        }
      }

      &__description {
        transition: color $transition-time;
        color: var(--color-tertiary-blue);
        font-size: 1.8rem;

        @media screen and (max-width: 660px) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: 570px) {
          margin-bottom: 0.5rem;
        }
      }
      &__value {
        transition: color $transition-time;
        color: var(--color-quaternary-blue);
        font-size: 2.5rem;

        @media screen and (max-width: 660px) {
          font-size: 2.3rem;
        }

        @media screen and (max-width: 425px) {
          font-size: 2.5rem;
        }
      }
    }
    &__current-label {
      text-align: center;
      font-size: 1.1rem;
      margin-top: 1.5rem;
      letter-spacing: 0.5rem;
      transition: color $transition-time;

      &--visible {
        @extend .multiplayer-footer-item--4__current-label;
        color: var(--color-quinary-blue);
      }
      &--hidden {
        @extend .multiplayer-footer-item--4__current-label;
        color: transparent;
      }
    }
  }

  &--3 {
    @extend .multiplayer-footer-item;
    max-width: 30rem;

    &__item {
      background-color: var(--color-primary-gray);
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      transition: background-color $transition-time;

      @media screen and (max-width: 570px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media screen and (max-width: 425px) {
        align-items: center;
      }

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--color-primary-gray);
        transform: translateY(0);
        clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
        transition: transform $transition-time,
          background-color $transition-time;
      }

      &--current {
        @extend .multiplayer-footer-item--3__item;
        background-color: var(--color-primary-orange);

        h5,
        h6 {
          color: var(--color-primary-white);
        }

        &::before {
          content: '';
          display: inline-block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background-color: var(--color-primary-orange);
          transform: translateY(-15px);
          clip-path: polygon(50% 0%, 30% 100%, 70% 100%);

          @media screen and (max-width: 570px) {
            transform: translateY(-13px);
            clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
          }

          @media screen and (max-width: 425px) {
            transform: translateY(-10px);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          }
        }
      }

      &__description {
        transition: color $transition-time;
        color: var(--color-tertiary-blue);
        font-size: 1.8rem;

        @media screen and (max-width: 570px) {
          margin-bottom: 0.5rem;
        }
      }
      &__value {
        transition: color $transition-time;
        color: var(--color-quaternary-blue);
        font-size: 2.5rem;

        @media screen and (max-width: 425px) {
          font-size: 2.5rem;
        }
      }
    }
    &__current-label {
      text-align: center;
      font-size: 1.1rem;
      margin-top: 1.5rem;
      letter-spacing: 0.5rem;
      transition: color $transition-time;

      &--visible {
        @extend .multiplayer-footer-item--3__current-label;
        color: var(--color-quinary-blue);
      }
      &--hidden {
        @extend .multiplayer-footer-item--3__current-label;
        color: transparent;
      }
    }
  }

  &--2 {
    @extend .multiplayer-footer-item;
    max-width: 25rem;

    &__item {
      background-color: var(--color-primary-gray);
      border-radius: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      transition: background-color $transition-time;

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var(--color-primary-gray);
        transform: translateY(0);
        clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
        transition: transform $transition-time,
          background-color $transition-time;
      }

      &--current {
        @extend .multiplayer-footer-item--2__item;
        background-color: var(--color-primary-orange);

        h5,
        h6 {
          color: var(--color-primary-white);
        }

        &::before {
          content: '';
          display: inline-block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background-color: var(--color-primary-orange);
          transform: translateY(-15px);
          clip-path: polygon(50% 0%, 30% 100%, 70% 100%);

          @media screen and (max-width: 350px) {
            transform: translateY(-13px);
            clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
          }
        }
      }

      &__description {
        transition: color $transition-time;
        color: var(--color-tertiary-blue);
        font-size: 1.8rem;
      }
      &__value {
        transition: color $transition-time;
        color: var(--color-quaternary-blue);
        font-size: 2.5rem;

        @media screen and (max-width: 425px) {
          font-size: 2.5rem;
        }
      }
    }
    &__current-label {
      text-align: center;
      font-size: 1.1rem;
      margin-top: 1.5rem;
      letter-spacing: 0.5rem;
      transition: color $transition-time;

      &--visible {
        @extend .multiplayer-footer-item--2__current-label;
        color: var(--color-quinary-blue);
      }
      &--hidden {
        @extend .multiplayer-footer-item--2__current-label;
        color: transparent;
      }
    }
  }
}
