.game-over-item {
  flex: 1;
  background-color: var(--color-primary-gray);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;

  @media screen and (max-width: 400px) {
    flex-direction: column;
    padding: 1rem 2rem;

    &__title {
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    color: var(--color-tertiary-blue);
    font-size: 1.65rem;
  }

  &__value {
    color: var(--color-quaternary-blue);
    font-size: 2.8rem;

    @media screen and (max-width: 430px) {
      font-size: 2.4rem;
    }
  }

  &--winner {
    @extend .game-over-item;
    background-color: var(--color-quinary-blue);

    h6,
    h3 {
      color: var(--color-primary-white);
    }
  }
}
