.game-over-item {
  flex: 1;
  background-color: var(--color-secondary-blue);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  &__title {
    color: var(--color-tertiary-blue);
    font-size: 1.65rem;
  }

  &__value {
    color: var(--color-quinary-blue);
    font-size: 2.8rem;
  }
}
