.chip {
  width: 100%;
  background-color: transparent;
  perspective: 1000px;

  &--6 {
    height: 6rem;
    &__inner {
      &--no-flipped {
        height: 100%;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        width: 100%;
      }
      &--flipped {
        @extend .chip--6__inner--no-flipped;
        transform: rotateY(180deg);
      }
      &__front,
      &__back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 100%;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
      }

      &__front {
        background-color: var(--color-quaternary-blue);
        cursor: pointer;

        &:hover {
          background-color: var(--color-primary-blue);
          transition: background-color 0.3s;
        }
      }
      &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-secondary-blue);
        color: var(--color-primary-white);
        overflow: auto;
        padding: 1rem;
        transform: rotateY(180deg);
        transition: background-color 0.3s;
        font-size: 3.1rem;
        text-align: center;
        font-weight: 700;

        &--pair {
          @extend .chip--6__inner__back;
          background-color: var(--color-primary-orange);
        }
      }
    }
  }

  &--4 {
    height: 9rem;
    &__inner {
      &--no-flipped {
        height: 100%;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        width: 100%;
      }
      &--flipped {
        @extend .chip--4__inner--no-flipped;
        transform: rotateY(180deg);
      }

      &__front,
      &__back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 100%;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
      }

      &__front {
        background-color: var(--color-quaternary-blue);
        cursor: pointer;

        &:hover {
          background-color: var(--color-primary-blue);
          transition: background-color 0.3s;
        }
      }

      &__back {
        background-color: var(--color-secondary-blue);
        color: var(--color-primary-white);
        overflow: auto;
        padding: 2rem;
        transform: rotateY(180deg);
        transition: background-color 0.3s;
        font-size: 4rem;
        text-align: center;
        font-weight: 700;

        &--pair {
          @extend .chip--4__inner__back;
          background-color: var(--color-primary-orange);
        }
      }
    }
  }
}
