@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --color-primary-orange: #fda214;
  --color-primary-blue: #3695b8;
  --color-secondary-blue: #bcced9;
  --color-tertirary-blue: #7191a5;
  --color-tertirary-blue: #7191a5;
  --color-quaternary-blue: #304859;
  --color-quinary-blue: #152938;
  --color-primary-white: #fcfcfc;
  --color-primary-white: #f2f2f2;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
